---
title: Cookie Notice
slug: cookies
language: en
template_version: 1.0.0
jurisdiction: eu
---

# Cookie Notice

This website uses cookies. Cookies are small text files that your browser stores on your device to help us make the website user-friendly.

## Which cookies does this website set?

### Strictly necessary cookies

This website sets only strictly necessary cookies. These are required for the operation of the website and are set without consent in accordance with the ePrivacy Directive.

| Name | Purpose | Storage duration |
|------|---------|------------------|
| Session cookie | Recognise the active session | until browser closes |

{{#if data_protection.uses_analytics}}
### Analytics cookies (consent required)

We use cookies for the statistical analysis of how our website is used. These cookies are only set with your consent in accordance with Article 6(1)(a) GDPR and the ePrivacy Directive.
{{/if}}

{{#if data_protection.uses_marketing_cookies}}
### Marketing cookies (consent required)

We use marketing cookies to better tailor advertising content to you and your interests. These cookies are only set with your consent.
{{/if}}

## How to manage cookies

You can prevent the setting of cookies through our website at any time by adjusting your browser settings accordingly. Cookies that have already been set can be deleted at any time via your browser. This is possible in all common browsers.

Please note that the full functionality of this website may not be guaranteed if you completely disable the setting of cookies.

## More information

For more information on how we process your data, please see our [Privacy Policy](/pages/privacy-policy.html).

For questions, please contact: {{data_protection.controller_contact}}

---

*Last updated: {{generated_at_human}}*
